.mn
{
     position: relative;
     margin-top: 100px;
    width: 100vw;
    height: 100vh;
    background: url("https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e51a7c201f00ec5fe3_biscount%20banner-min.png");
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;

    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.card
{
    padding: 75px 64px;
    background-color: #003d29;
    text-align: left;
    color: white;
    width: 370px;
    height: 40vh;
    position: absolute;
    right: 10%;
    top:20%;
}

#big
{
    max-width: 381px;
    margin-top: 0px;
    font-family: Inter, sans-serif;
    font-size: 22px;
    margin-bottom: 12px;
    font-size: 52px;
}

#small
{
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 145%;
    margin-bottom: 30px;
}

#cts
{
    background-color: transparent;
    border:1px solid white;
    font-family: Eina01, sans-serif
}

#cts:hover
{
    background-color: #333;
}

@media screen and (max-width:800px) {
   .card{
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin: 3px;
   }

}