.lfl
{
    color: #231f1e;
    text-transform: capitalize;
    font-family: Eina02, sans-serif;
    font-size: 28px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 40px;
   margin-left: 55px;
}